<section id="navigation-bar">
 <nav class="navbar">

    <img src="assets/img/prodigeelogo.png" id="logo">
        <form class="log-in-form" action="user/login" method="GET">
        <input type="text" id="login-email" placeholder="Email">
        <input type="password" id="login-password" placeholder="Password">
        <button type="submit">Sign In</button>
        <span class="forgot"><a href="forgot/password">Forgot Password?</a></span>
        </form>
    </nav>

   <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">
           <img src="assets/img/prodigeelogo.png" id="logo">
         </a>
       </div>
     </div>
   </nav>
</section>


<section id="main content" class="container">

</section>
        <footer class="footer">
            </footer>
