<section id="navigation-bar">
   <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="assets/img/prodigeelogo.png" id="logo">
            </a>
          </div>
        </div>
      </nav>
</section>
<div class="row">
   <div class="col-md-6"></div>
   <div class="col-md-6"></div>
</div>
<section id="main content">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
             Left panel gets put right here
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-info">
               Right Panel
            </div>
        </div>
   </div>

</section>

<footer class="footer">
</footer>
