 <nav class="navbar">
    <img src="assets/img/prodigeelogo.png" id="logo">
        <form class="log-in-form" action="user/login" method="GET">
        <input type="text" id="login-email" placeholder="Email">
        <input type="password" id="login-password" placeholder="Password">
        <button type="submit">Sign In</button>
        <span class="forgot"><a href="forgot/password">Forgot Password?</a></span>
        </form>
    </nav>

    <div class="signup">
        
        Get started - it's free.
        <div id="signup-content">
        <span id="signup-text">First name</span>
        <input type="text" id="signup-firstname">
         <span id="signup-text">Last name</span>
        <input type="text" id="signup-lastname">
        <span id="signup-text">Email</span>
        <input type="text" id="signup-email">
        <span id="signup-text">Password</span>
        <input type="password" id="signup-password">
        </div>

        <span>By clicking Join now, you agree to the proDigee User Agreement, Privacy Policy, and Cookie Policy.</span>
        <form class="signup-form" action="user/signup" method="POST">
        <button id="join-now">Join Now</button>
        </form>
        </div>

        <footer class="footer">
            </footer>